
/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  h2{
    color: black;
    border: #333 solid 1px;
    background-color: rgb(121, 249, 249);
   
  
   }
   h2:hover{
    background-color: #fff;
border-style: groove;
/
   }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  } */
  
    /* nav li { */
    /* margin: 0 10px;
  }
  
  nav a {
    color: #333;
    text-decoration: none;
  }
  
  main {
    display: flex;
    margin: 20px;
  }
  
  section {
    flex: 1;
    padding: 20px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
    */
/* *{
  background-color: aquamarine;
}
.div fieldset{ 
  background-color: aqua;
}  */ 
body{
background: linear-gradient(#323241 630px, 300px,   rgb(35, 34, 51)430px);
background-size:300px;
background-origin: border-box;
}
.a:hover{
color: rgb(240, 250, 61);
}
.tr{
  background-color: aliceblue;
}
.g{
  margin-top: -296px;
margin-left: 850px;
}
nav{
 
}
/* .gd{
  width: 99px;
  height: 99px;
flex-direction: column-reverse;
display: flex;
margin-left: 880px;
margin-top: 5px;
padding-bottom: -55px;
justify-content: flex-start;
} */
.fa{
  float: right;

padding-right: 335px;
margin-top: -68px;
color: orange;
font-size: 25px;
}
.j{
  transition: all 0.4s ease;
}
.j:hover{
  transform: rotate(360deg);
}
.fad{
  float: right;

  padding-right: 240px;
  margin-top: -68px;
  color: orange;
  font-size: 25px;
}
.fax{
  float: right;

padding-right: 286px;
margin-top: -68px;
color: orange;
font-size: 25px; 
}
.m{
  color: orange;
  font-size: 32px;
  transition: all 0.3s ease;
}
.m:hover{
  transform: rotate(360deg);
color: rgb(110, 202, 225);
}
.ccvv{
  display: inline-block;
  
}
.hh{
  color: rgb(116, 116, 116);
  margin-left: 942px;
  margin-top: -29px;
  font-size: 24px;
  font-weight: bold;
  display: block;
}
.hhz{
  color: rgb(109, 107, 107);
  margin-left: 859px;
  margin-top: -30px;
  font-size: 25px;
  font-weight: bold;
  display: block;  
  
}
.hhx{
  color: rgb(126, 126, 126);
  margin-left: 905px;
  margin-top: -30px;
  font-size: 24px;
  font-weight: bold;
  display: block;
}
.b{

  margin-top: 5px;
  font-size: 25px;
  font-weight: bold;
  
  
 
}
.o{
  margin-top: 100px;
  margin-left: 21px;
  font-size: 35px;
  color: rgb(246, 248, 248);
  font-family: serif;
  font-weight: 16px;
}
.gb{
  color:orange;
  float: left;
  font-size: 39px;
  font-weight: bold;
  margin-top: 12;
  

}
.gb:hover{
color: blue;
}
.ga:hover{
  transform: rotate(360deg);
}
.ga{
  transition: all 0.2s ease;
}

.ku{
  float: right;
  margin-top: -270px;
  margin-right: 270px;
  font-weight: 70px;
  color: rgb(245, 244, 244);
  font-size: 35px;
}

.l{
  margin-top: -170px;
  margin-left: 420px;
  margin-right: 70px;
  margin-bottom: 40px;
background-color: rgb(31, 31, 31);
border-radius: 235px;
height: 440px;
width: 440px;
background-size: 30px;
}
.l:hover{
  /* background-color: antiquewhite; */
}
h2{
  font-size: 30px;
}
.k{
  float: right;
  margin-top: -210px;
  margin-right: 64px;
}
.r{
  margin-top: -330px;
  display: flex;
  margin-left: 22px;
}
.pi{
  font-weight: bold;
  margin-top: -24px;
  color: rgb(248, 252, 252);
  margin-left: 22px;
 font-size: 42px;
 word-spacing: 2px;
 letter-spacing: 2.5px;
}
.fs{
font-size: 25px;
padding-left: 2px;
font-weight: bold;
color: orange;
text-transform: uppercase
;
}
.as{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-left: 9px;
  padding-left: 9px;
  



  
}
.cx{
margin-top: 50px;
}
.kk{
  border: 5px solid rgb(11, 11, 11);
  margin: 3px;
  padding: 12px;
  border-radius: 9px;
height: 200px;
line-height: 21px;
}
.pi:hover{
background-color: linear-gradiant(black);
}
.x{
  background-color: rgb(51, 51, 66);
  padding: 22px;
  padding-left: 75px;
align-items: center;
  width: 899px;
  margin-left: 140px;
  height: 38px;
  border: #212124 4px solid;
  box-shadow: #4a4a4c 2px 2px 2px;
  

}
.d{
background-color: rgb(51, 59, 103);

}
li{
  float: right;
list-style: none;

}
.br{
  margin-left: 17px;
  margin-top: 5px;
  font-size: 21px;
  font-weight: 29px;
  padding-right: 240px;
  background-color: antiquewhite;
  background-size: 50px;

}