
/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  h2{
    color: black;
    border: #333 solid 1px;
    background-color: rgb(121, 249, 249);
   
  
   }
   h2:hover{
    background-color: #fff;
border-style: groove;
/
   }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  } */
  
    /* nav li { */
    /* margin: 0 10px;
  }
  
  nav a {
    color: #333;
    text-decoration: none;
  }
  
  main {
    display: flex;
    margin: 20px;
  }
  
  section {
    flex: 1;
    padding: 20px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
    */
/* *{
  background-color: aquamarine;
}
.div fieldset{ 
  background-color: aqua;
}  */ 
body{
background: linear-gradient(#323241 610px 30px,   rgb(35, 34, 51)410px);
background-size:29px;
background-origin: border-box;
}
.a:hover{
color: rgb(234, 244, 49);
}
.tr{
  background-color: aliceblue;
}
.g{
  margin-top: -296px;
margin-left: 760px;
}
nav{
 
}
/* .gd{
  width: 99px;
  height: 99px;
flex-direction: column-reverse;
display: flex;
margin-left: 880px;
margin-top: 5px;
padding-bottom: -55px;
justify-content: flex-start;
} */
.fab{
  float: right;

padding-right: 440px;
margin-top: -68px;
color: orange;
font-size: 27px;
}
.fab:hover{
color: rgb(89, 225, 249);

}
.j{
  transition: all 0.4s ease;
}
.j:hover{
  transform: rotate(360deg);
}
.fad{
  float: right;

  padding-right: 378px;
  margin-top: -68px;
  color: orange;
  font-size: 27px;
}
.fad:hover{
  color: rgb(108, 231, 252);
}
.fax{
  float: right;

padding-right: 411px;
margin-top: -68px;
color: orange;
font-size: 27px; 
}
.fax:hover{
  color: rgb(98, 231, 254);
}
.m{
  color: orange;
  font-size: 32px;
  transition: all 0.3s ease;
}
.m:hover{
  transform: rotate(360deg);
color: rgb(110, 202, 225);
}
.ccvv{
  display: inline-block;
  
}
.hh{
  color: rgb(168, 165, 165);
  margin-left: 926px;
  margin-top: -31px;
  font-size: 27px;
  font-weight: bold;
  display: block;
}
.hhz{
  color: rgb(169, 168, 168);
  margin-left: 846px;
  margin-top: -30px;
  font-size: 27px;
  font-weight: bold;
  display: block;  
  
}
.hhx{
  color: rgb(163, 162, 162);
  margin-left: 892px;
  margin-top: -31px;
  font-size: 26px;
  font-weight: bold;
  display: block;
}
.b{

  margin-top: 3px;
  font-size: 38px;
  font-weight: bold;
  
  
 
}
.o{
  margin-top: 100px;
  margin-left: 21px;
  font-size: 35px;
  color: rgb(246, 248, 248);
  font-family: serif;
  font-weight: 16px;
}
.gb{
  color:orange;
  float: left;
  font-size: 39px;
  font-weight: bold;
  margin-top: 12;
  

}
.gb:hover{
color: rgb(22, 179, 247);
}
.ab:hover{
  color: rgb(38, 220, 248);
  }
.ga:hover{
  transform: rotate(360deg);
}
.ga{
  transition: all 0.2s ease;
}

.ku{
  float: right;
  margin-top: -250px;
  margin-right: 368px;
  font-weight: 70px;
  color: rgb(245, 244, 244);
  font-size: 35px;
}
.a:hover{
  color: rgb(228, 251, 52);
}

.l{
  margin-top: -80px;
  margin-left: -47px;
  margin-right: 70px;
  margin-bottom: 40px;
/* background-color: rgb(31, 31, 31); */
/* border-radius: 235px; */
height: 460px;
width: 490px;
background-size: 30px;
}
.l:hover{
  /* background-color: antiquewhite; */
}
h2{
  font-size: 30px;
}
.k{
  float: right;
  margin-top: -199px;
  margin-right: 164px;
}
.r{
  margin-top: -330px;
  display: flex;
  margin-left: 22px;
}
.pi{
  font-weight: bold;
  margin-top: -24px;
  color: rgb(248, 252, 252);
  margin-left: 22px;
 font-size: 42px;
 word-spacing: 2px;
 letter-spacing: 2.5px;
}
.fs{
font-size: 25px;
padding-left: 13px;
font-weight: bold;
color: orange;
text-transform: uppercase
;
}
.fs:hover{
  color: rgb(98, 231, 254);
}
.as{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-left: 9px;
  padding-left: 9px;
  



  
}
.cx{
margin-top: 50px;
}
.kk{
  border: 4px solid rgb(11, 11, 11);
  margin: 3px;
  padding: 12px;
  border-radius: 9px;
height: 200px;
line-height: 21px;
}
.pi:hover{
background-color: linear-gradiant(black);
}
.x{
  background-color: rgb(51, 51, 66);
  padding: 22px;
  padding-left: 72px;
align-items: center;
  width: 895px;
  margin-left: 140px;
  height: 38px;
  border: #212124 6px solid;
  box-shadow: #4a4a4c 1px 1px 1px 1px;
  

}
.d{
background-color: rgb(51, 59, 103);

}
li{
  float: right;
list-style: none;

}
.br{
  margin-left: 17px;
  margin-top: 5px;
  font-size: 21px;
  font-weight: 29px;
  padding-right: 240px;
  background-color: antiquewhite;
  background-size: 50px;

}